#canvas{
	border: 16px solid black;
	border-width: 3px;
	background-image: url("../resource/background.jpg");
}

#loading{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 80;
	height: 80px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@keyframes spin{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.keyArea img{
	width: 50px;
	height: 50px;
}

.out{
	width: 100%;
	text-align: center;
}
#keyArea {
	width: 240px;
	display: inline-block;
}
.row {display: table-row;}
.cell {display: table-cell; padding: 3px; border: 1px solid black;}
.row .cell img {
	width: 80px;
	height: 80px;
}